<footer>
    <h1>Lorem, ipsum dolor.</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed suscipit atque vitae accusantium earum est culpa animi iusto assumenda quasi sunt totam temporibus, nostrum porro ut mollitia maiores ex voluptatibus.</p> 
    
</footer>